{% load static %}

<dl style='text-align:center'>
    <dt>
        Погода завтра
    </dt>
    <dd>
        {% if forecast_sidebar and forecast_sidebar != 'na' %}
        <table class='sidebar'>                    
            <tr>
                <td>
                    {{ forecast_sidebar.temperature }} <small><em>°C</em></small>
                </td>
                <td>
                    {% for file_img, descr in forecast_sidebar.clouds_img %}
                        <attr title='{{ descr }}'>
                            <img src='{% get_static_prefix %}img/weather/{{ file_img }}.png' width='30' height='25'/>
                        </attr>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    {% for file_img, descr in forecast_sidebar.falls_img %}
                        <attr title='{{ descr }}'>
                            <img src='{% get_static_prefix %}img/weather/{{ file_img }}.png' width='18' height='27'/>
                        </attr>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <img src='{% get_static_prefix %}img/weather/wind.png' width='30' height='30' />
                </td>
                <td>
                    {{ forecast_sidebar.wind_speed }}<small><em> м/с</em></small>
                </td>
            </tr>                    
        </table>
        {% else %}
            <img src='{% get_static_prefix %}img/na.png' width='30' height='25'/>
        {% endif %}
    </dd>
</dl>