<div class='panel panel-default widget'>
    <a href='/climate' class='list-group-item widget-padding'>
        Климат
    </a>
    <div class='panel-body widget-padding'>
        <table class='tab_short table table-striped table-condensed'>
            {%  for sensor, humid, temp in climate %}       
                <tr>
                    <th colspan=2>{{ sensor }}</th>
                </tr>
                <tr>
                    <td>
                        <img src='{{ STATIC_URL }}img/temp.png' width='24' height='24'/>
                        {{ temp }}<small><small><em> °C</em></small></small>
                    </td>
                    <td>
                        <img src='{{ STATIC_URL }}img/humid.png' width='24' height='24'/>
                        {{ humid }}<small><small><em> %</em></small></small>
                    </td>
                </tr>
            {%  endfor %}
        </table>
    </div>
</div>