{% extends 'base/index.html' %}

{% block body_tabs %}
    <style>
        body {
            padding-top:65px;
        }
        dl.sidebar {
            text-align: center;
            font-size: 80%;
        }
        dt {
            padding-bottom:8px;
            color: #2288bb;
        }
        table.sidebar {
            margin: 0 auto;
            font-weight: bold;
        }
    </style>

    {% include 'base/navbar.html' %}

    <div class='container'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <div class='row row-offcanvas row-offcanvas-right'>
                    <div class='col-sm-12 col-md-12 col-lg-12'>
                        <h4>{{ active_title }} <small>{{ active_sub_title }}</small></h4>
                            {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
 /*
    setTimeout(function(){
        window.location.href = '/';
    }, 300000);
*/
</script>
{% endblock %}
