{% extends 'base/index.html' %}
{% load static %}

{% block body_main %}
    <style>
        html, body {
            width:100%;
            height:100%;
            margin:0;
        }
        .pad5 {padding: 5px;}
    </style>

    <div id='slide' style='
            {% if slide %}
                background-image: url({% get_static_prefix %}img/slideshow{{ slide }});
                background-size: contain;
            {% else %}            
                background-image: url({% get_static_prefix %}img/na.png);
                background-size: 10%;
            {% endif %}
            background-repeat: no-repeat;
            background-color: #555;
            background-position: 50% 50%;
            float:left;
            border:0;
            min-width: 100%;
            min-height: 100%;
        '>    
        <div class='pad5 pull-left'>
            <span class="label label-default">{{ album }}</span>
        </div>
        <div class='pad5 pull-right'>
            <attr title='Перейти к меню'>
                <a href='/home' class='btn btn-default btn-lg'>        
                    <span class='glyphicon glyphicon-align-justify'> </span> 
                </a>
            </attr>
        </div>
        <div id='events' class='pull-right' style='padding-top: 5px;'></div>    
    </div>

    <script>   
        $(document).ready(function(){
            reload_div('events');
            setInterval('reload_div("events")', 3000);
        });
        setTimeout(function(){
            window.location.href = '/';
        }, 60000);
    </script>
{% endblock %}