{% extends 'base/index.html' %}

{% block body_main %}
    <style>
        html, body {
            width:100%;
            height:100%;
            margin:0;
        }
        div.slides{
            height:100%;
        }
        div.pad5 {padding: 5px;}
    </style>

    <div id='slideshow' class='slides'></div>

    <script>
        $(document).ready(function(){
            reload_div('slideshow', 120000);
            reload_div('events', 10000);
        });
    </script>
{% endblock %}