{% extends 'base/index.html' %}

{% block body_tabs %}
    <style>
        body {padding-top:65px;}
        dt {padding-bottom:8px;}
        table.sidebar {
            width: 80%;
            margin: 0 auto;
            color: #2288bb;
            font-weight: bold
        }
        td {padding:0;}
        td.n_c {background: #f0f0f8}
        td.n_f {
            background: #f0f0f8;
            background: -moz-linear-gradient(top, #f0f0f8 0%, #fff 100%);
            background: -webkit-linear-gradient(top, #f0f0f8 0%, #fff 100%);
            background: -o-linear-gradient(top, #f0f0f8 0%, #fff 100%);
            background: -ms-linear-gradient(top, #f0f0f8 0%, #fff 100%);
            background: linear-gradient(top, #f0f0f8 0%, #fff 100%);
        }
    </style>


    {% include 'base/navbar.html' %}

    <div class='container'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <div class='row row-offcanvas row-offcanvas-right'>
                    <div class='col-sm-8 col-md-9 col-lg-9'>
                        <h4>{{ active_title }} <small>{{ active_sub_title }}</small></h4>
                            {% block content %}{% endblock %}
                    </div>
                    <div class='col-sm-4 col-md-3 col-lg-3'>
                        {% include 'base/sidebar.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script>
    setTimeout(function(){
        window.location.href = '/';
    }, 300000);
</script>
