{% load static %}

<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <title>{{ site_name }}</title>    
    <link href='{% get_static_prefix %}css/bootstrap.min.css' rel='stylesheet' media='screen'>
    <link rel='shortcut icon' href='{% get_static_prefix %}img/favicon.ico'>  
    <script src='{% get_static_prefix %}js/jquery.min.js' type='text/javascript'></script>
    <script>
        function get_id_data(id){
            var result = null;
            $.ajax({
                url: '/?' + id,
                type: 'GET',
                cache: false,
                async: false,
                success:function(data){
                    result = data;
                },
                error: function() {
                    result = null;
                }
            });
            return result;
        }
        function set_id_data(id, data, attr){
                if (attr != null)$('#' + id).attr(attr, data);
                else $('#' + id).html(data);
        }
        function repeat_get(id, delay, attr){
            var data = get_id_data(id);
            if (data != null) set_id_data(id, data, attr);
            setTimeout(function(){repeat_get(id, delay, attr)}, delay);
        }

        function reload_div(id, delay){
            $.ajax({
                url: '/' + id + '/',
                type: 'GET',
                cache: false,
                success: function(html){
                    $('#' + id).html(html);
                    setTimeout(function(){reload_div(id, delay)}, delay);
                },
                error: function() {
                    setTimeout(function(){reload_div(id, delay)}, delay);
                }
            });
        }
    </script>
</head>
<body id='body'>

    {% spaceless %}
        {% if request.path == '/' %}
            {% block body_main %}{% endblock %}              
        {% else %}
            {% block body_tabs %}{% endblock %}    
        {% endif %}
    {% endspaceless %}  
    
    <script src='{% get_static_prefix %}js/bootstrap.min.js' type='text/javascript'></script>
</body>
</html>