{% load static %}

<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <title>{{ site_name }}</title>    
    <link href='{% get_static_prefix %}css/bootstrap.min.css' rel='stylesheet' media='screen'>
    <link rel='shortcut icon' href='{% get_static_prefix %}img/favicon.ico'>  
    <script src='{% get_static_prefix %}js/jquery.min.js' type='text/javascript'></script>
    <script>
        function get_data(div_id, delay_time){
            $.ajax({  
                url: '/?' + div_id,
                type: 'GET',
                cache: false,
                success: function(){
                    setTimeout(function(){get_data(div_id, delay_time)}, delay_time);
                },
                error: function() {
                    setTimeout(function(){get_data(div_id, delay_time)}, delay_time);
                }
            });
        }
        function reload_div(div_id, delay_time){
            $.ajax({
                url: '/' + div_id + '/',
                type: 'GET',
                cache: false,
                success: function(html){
                    $('#' + div_id).html(html);
                    setTimeout(function(){reload_div(div_id, delay_time)}, delay_time);
                },
                error: function() {
                    setTimeout(function(){reload_div(div_id, delay_time)}, delay_time);
                }
            });
        }
    </script>
</head>
<body id='body'>

    {% spaceless %}
        {% if request.path == '/' %}
            {% block body_main %}{% endblock %}              
        {% else %}
            {% block body_tabs %}{% endblock %}    
        {% endif %}
    {% endspaceless %}  
    
    <script src='{% get_static_prefix %}js/bootstrap.min.js' type='text/javascript'></script>
</body>
</html>