{% extends 'base/body_tabs.html' %}

{% block content %}
    <div class='widget'>
    {% for event_id, event_src, event_descr, event_imp, event_datetime in events %}
        <div class='alert alert-{{ event_imp }} event_imp'>

            <div class='event_src event_img'>
                <img src='{{ STATIC_URL }}img/home/{{ event_src }}.png' width='24' height='24'/>
            </div>
            <div class='event_src'>
                {{ event_datetime|date:'M-d H:m' }}
            </div>
            <div class='event_descr'>
                {{ event_descr }}
            </div>
        </div>
    {%  empty %}
        <small>отсутствуют :)</small>
    {% endfor %}
    </div>
{% endblock %}