{% load static %}

<div class='panel panel-default widget'>
    <div class='panel-heading widget-padding'>
        Уведомления
    </div>
    <div class='panel-body widget-padding'>
        {% for event_id, event_imp, event_datetime, event_src, event_descr in events %}
            <form action='/summary/' method='post'>{% csrf_token %}
                <div class='alert alert-{{ event_imp }} event_imp'>
                    <input type='hidden' name='event_id' value='{{ event_id }}' />
                    <button type='submit' class='close cross_up'>
                        &times;
                    </button>

                    <div class='event_src event_img'>
                        <img src='{% get_static_prefix %}img/home/{{ event_src }}.png' width='24' height='24'/>
                    </div>
                    <div class='event_src'>
                        {{ event_datetime|date:'M-d H:m' }}
                    </div>
                    <div class='event_descr'>
                        {{ event_descr }}
                    </div>
                </div>
            </form>
        {%  empty %}
            <small>отсутствуют :)</small>
        {% endfor %}
    </div>
</div>