{% extends 'base/body_tabs.html' %}

{% block content %}
    {% if house_plans %}
        <div class='panel-body'>
            {% for plan_id, plan_img, plan_descr in house_plans %}
                <div style='float:right; width:{{ width_plans }}%;' id='plan_{{ plan_id }}'>
                    <div id='positioned-{{ plan_id }}'></div>
                    
                    <script async>
                        reload_div('positioned-{{ plan_id }}', 10000);
                    </script>
                    
                    <img src='{{ MEDIA_URL }}{{ plan_img }}' class='img-responsive plan' id='img_{{ plan_id }}'>
                    <br /><strong><small><em>Рис.</em></small> {{ plan_descr }}</strong>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <div class='panel-body'>
        <div id='tiled'></div>
    </div>

    <script async>
        reload_div('tiled', 10000);
    </script>
{% endblock %}