{% extends 'base/body_tabs.html' %}

{% block content %}

    <script src='{{ STATIC_URL }}js/highcharts.js' type='text/javascript'></script>

    {% for chart_title, measure, rooms in charts %}
        <div id='{{ chart_title }}' class='charts'></div>

        <script type='text/javascript'>
            Highcharts.setOptions({
                lang: {
                    resetZoom: 'Исходный вид',
                    shortMonths: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек']
                }
            });
            $(function () {
                $('#{{ chart_title }}').highcharts({
                    chart: {
                        type: 'spline',
                        marginBottom: 120,
                        zoomType: 'x',
                        panning: true,
                        panKey: 'shift',
                        style: {fontFamily: 'Helvetica Neue, Helvetica, Arial, sans-serif' }
                    },
                    colors: ['#2288BB', '#FF9900', '#777777', '#55BBEE', '#CCFF00', '#AAAAAA', '#77DDFF', '#FFCC00', '#CCCCCC'],
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: 'Изменения {{ chart_title }}',
                        margin: 10,
                        style: {
                            color: '#2288bb',
                            fontFamily: 'Helvetica Neue, Helvetica, Arial, sans-serif',
                            fontWeight: 'bold',
                            fontSize: '13px'
                        }
                    },
                    legend: {
                        lineHeight: 10,
                        itemStyle: {
                            fontFamily: 'Helvetica Neue, Helvetica, Arial, sans-serif',
                            fontWeight: 'normal',
                            fontSize: '10px'
                        },
                        align: 'left',
                        floating: true,
                        padding: 5,
                        margin: 2,
                        backgroundColor: '#F8F8F8',
                        borderColor: '#E7E7E7',
                        borderWidth: 1,
                        title: {
                            text: 'Помещения:',
                            style: {
                                fontFamily: 'Helvetica Neue, Helvetica, Arial, sans-serif',
                                fontWeight: 'bold',
                                fontSize: '12px'
                            }
                        }
                    },
                    plotOptions:{
                        series: {
                            animation: false,
                            lineWidth: 3,
                            marker: {
                                radius: 3,
                                symbol: 'circle'
                            }
                        }
                    },
                     xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: {day: '%d %b %H:%M'},
                        tickPixelInterval: 40,
                        labels: {
                            rotation: -45,
                            style: {fontWeight: 'bold'}
                        }
                    },
                    yAxis: {
                        title: {text: null},
                        allowDecimals: false,
                        gridLineDashStyle: 'Dash',
                        tickPixelInterval: 10,
                        labels: {
                            format: '{value}{{ measure }}',
                            style: {fontWeight: 'bold'}
                        }
                    },
                    series: [
                        {% for room, vals in rooms %}
                            {
                            name: '{{ room }}',
                            data: [
                                {% for date, val in vals %}
                                    [Date.UTC({{ date|safe }}), {{ val }}],
                                {% endfor %}
                             ]
                        },
                        {% endfor %}
                    ]
                });
            });
        </script>
    {% endfor %}


{% endblock %}