<div class='panel panel-default widget'>
    <div class='panel-heading widget-padding'>
        {{ sensor }}
    </div>
    <div class='panel-body widget-padding'>
        <table class='tab_short' border='0'>
            <tr>
                <td>
                    <img src='{{ STATIC_URL }}img/climate/temp.png' width='24' height='24'/>
                    {{ temp }}<small><small><em> °C</em></small></small>
                </td>
            </tr>
            <tr>
                <td>
                    <img src='{{ STATIC_URL }}img/climate/humid.png' width='24' height='24'/>
                    {{ humid }}<small><small><em> %</em></small></small>
                </td>
            </tr>
        </table>
    </div>
</div>