{% extends 'base/index.html' %}

{% block body_tabs %}
    <style>
        body {
            padding-top:40px;
        }
    </style>

    {% include 'base/navbar.html' %}

    <div class='container'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <div class='row row-offcanvas row-offcanvas-right'>
                    <div class='col-sm-12 col-md-12 col-lg-12'>
                        <h4 class='text-info'>{{ active_title }}
                            {%  if active_sub_title %}<small>{{ active_sub_title }}</small>{% endif %}
                        </h4>
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
