<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset='utf-8'>    
    <meta http-equiv='Content-Type' content='text/html'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <link rel='shortcut icon' href='{{ STATIC_URL }}img/favicon.ico'>
    <title>{{ site_name }}</title>
    <link href='{{ STATIC_URL }}css/bootstrap.{{ theme }}.min.css' rel='stylesheet' media='screen'>
    <link href='{{ STATIC_URL }}css/Servus.{{ theme }}.min.css' rel='stylesheet' media='screen'>
    <script src='{{ STATIC_URL }}js/jquery.min.js' type='text/javascript'></script>
    <script src='{{ STATIC_URL }}js/js.cookie.min.js' type='text/javascript'></script>

    <script async>
        function get_id_data(id){
            var result = null;
            $.ajax({
                url: '/?' + id,
                type: 'GET',
                cache: false,
                async: false,
                success:function(data){
                    result = data;
                },
                error: function() {
                    result = null;
                }
            });
            return result;
        }
        function set_id_data(id, data, attr){
                if (attr != null)$('#' + id).attr(attr, data);
                else $('#' + id).html(data);
        }
        function repeat_get(id, delay, attr){
            var data = get_id_data(id);
            if (data != null) set_id_data(id, data, attr);
            setTimeout(function(){repeat_get(id, delay, attr)}, delay);
        }

        function reload_div(id, delay){
            $.ajax({
                url: '/' + id + '/',
                type: 'GET',
                cache: false,
                success: function(html){
                    $('#' + id).html(html);
                    setTimeout(function(){reload_div(id, delay)}, delay);
                },
                error: function() {
                    setTimeout(function(){reload_div(id, delay)}, delay);
                }
            });
        }

        function positioning_widget(plan_id, widget_id, posX, posY){
            var planCanvasX = document.getElementById('plan_' + plan_id).clientWidth;
            var planImgX = document.getElementById('img_' + plan_id).clientWidth;
            var planImgY = document.getElementById('img_' + plan_id).clientHeight;
            var x = planCanvasX / 2 - planImgX / 2 + planImgX * posX / 100;
            var y = planImgY * posY / 100;
            document.getElementById(widget_id).style.marginLeft = x.toString() + 'px';
            document.getElementById(widget_id).style.marginTop = y.toString() + 'px';
        }
    </script>
</head>
<body id='body'>
    {% spaceless %}
        {% if request.path == '/slideshow/' %}
            {% block slideshow %}{% endblock %}
        {% else %}
            {% block body_tabs %}{% endblock %}
        {% endif %}
    {% endspaceless %}

    <script async>
        // Если сменилось состояние какого-либо checkbox'а, записываем состояние в cookie
        $(':checkbox').on('change', function(){
            setCheckboxCookie()
        });
        // Записываем состояния всех checkbox'ов в json-cookie
        function setCheckboxCookie(){
            var checkboxValues = Cookies.getJSON('Servus_checkboxValues');
            if (checkboxValues === undefined) checkboxValues = {};

            $(':checkbox').each(function(){
                checkboxValues[this.id] = this.checked;
            });
            Cookies.set('Servus_checkboxValues', checkboxValues, {expires: 999, path: '/'})
        }
        // Подгружаем и устанавливаем состояния checkbox'ов ранее записанные в json-cookie
        function repopulateCheckboxes(){
            var checkboxValues = Cookies.getJSON('Servus_checkboxValues');
            if(checkboxValues){
                Object.keys(checkboxValues).forEach(function(element) {
                    var checked = checkboxValues[element];
                    $('#' + element).prop('checked', checked);
                });
            }
        }
        // Смена страниц с текущей на slideshow и обратно,если установлен соответствующий checkbox
        function changePages(auto_slideshow){
            if (window.location.pathname === '/slideshow/'){
                return setTimeout(function(){window.location.href = '/home/'}, 60000);
            } else {
                return setTimeout(function(){window.location.href = '/slideshow/'}, 20000);
            }
        }

        // Устанавливаем значения всех checkbox'ов, которые были установлены ранее и сохранены в cookie
        repopulateCheckboxes();

        // Когда документ полностью подгружен, начинаем переключать страницы slideshow<-->anyPage
        $(document).ready(function(){
            var auto_slideshow  = false;
            var changePages_was_called = false;
            var changePages_timerId = null;
            
            setCheckboxCookie();
            
            setInterval(function(){
                auto_slideshow = Cookies.getJSON('Servus_checkboxValues')['slideshow'];
                if (auto_slideshow) {
                    if (!changePages_was_called) {
                        changePages_timerId = changePages();
                        changePages_was_called = true;
                    }
                } else {
                    if (changePages_timerId) {
                        changePages_was_called = false;
                        clearTimeout(changePages_timerId);
                        changePages_timerId = null;
                    }
                }
            }, 1000);
        });
    </script>
    <script src='{{ STATIC_URL }}js/bootstrap.min.js' type='text/javascript' async></script>
</body>
</html>