{% extends 'base/body_tabs.html' %}

{% block content %}
    {% for event in events_list %}
        <div class='alert alert-{{ alerts|get_alert:event.level }} event_lvl'>
            <div class='event_src'>
                <img src='{{ STATIC_URL }}img/{{ event.source }}.png' width='20' height='20'/>&nbsp;
                [{{ event.datetime|date:'M-d H:m' }}]
            </div>
            {{ event.message }}
        </div>
    {%  empty %}
        <small>отсутствуют :)</small>
    {% endfor %}
{% endblock %}