<div class='panel panel-default widget'>
    <div class='panel-heading widget-padding'>
        Уведомления
    </div>
    <div class='panel-body widget-padding'>
        {% for event_id, source, message, level, datetime in events %}
            <form action='/summary/' method='post'>{% csrf_token %}
                <div class='alert alert-{{ level }} event_lvl'>
                    <input type='hidden' name='event_id' value='{{ event_id }}' />
                    <button type='submit' class='close cross_up'>
                        &times;
                    </button>

                    <div class='event_src event_img'>
                        <img src='{{ STATIC_URL }}img/{{ source }}.png' width='24' height='24'/>
                    </div>
                    <div class='event_src'>
                        {{ datetime|date:'M-d H:m' }}
                    </div>
                    <div class='event_msg'>
                        {{ message }}
                    </div>
                </div>
            </form>
        {%  empty %}
            <small>отсутствуют :)</small>
        {% endfor %}
    </div>
</div>