/* Переопределение стилей bootstrap */
.panel{
    margin-bottom: 10px;
}
/* Стили Servus */
caption{
    color: #5bc0de;
    font-weight: bold;
    font-size: 90%;
    padding-bottom: 5px;
}
.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}
.padding7px{
    padding: 0 7px 0 7px !important;
    margin: 0 !important;
}
.padding5px{
    padding: 5px;
}
/*Slideshow*/
.fullscreen_img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-width: 100%;
    min-height: 100%;
}
.slide{
    border:0;
    float:left;
}

/* Home */
.widget{
    text-align: center;
    font-weight: bold;
    font-size: 90%;    
}
.tiled{
    padding: 5px;
    margin: 0 auto;
}
.positioned_img{
    position:absolute;
    width:48px;
    height:48px;
}
.positioned_text{
    position:absolute;
    width:48px;
    padding: 2px;
    line-height: 1;
}
.plan{
    margin: 0 auto;
}
table.tab_short{
    margin: 0 auto;
}
.event_src{
    float:left;
    margin-right: 5px;
    font-style: italic;
    font-size: 80%;
}
.event_msg{
    font-size: 90%;
}
.event_img{
   margin-top: -5px;
}
.event_lvl{
    padding: 5px;
    margin: 5px;
    font-weight: normal;
}

/*Weather*/
.weather{
    vertical-align:middle;
    color: #a7a7a7;
    font-size: 70%;
}
th{
    font-weight: bold;
}
td.w_day{
    background: #363b40
}