/* Переопределение стилей bootstrap */
.panel{
    margin-bottom: 10px;
}
/* Стили Servus */
caption{
    color: #2288bb;
    font-weight: bold;
    padding-bottom: 5px;
}
.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}
.padding7px{
    padding: 0 7px 0 7px !important;
    margin: 0 !important;
}
.padding5px{
    padding: 5px;
}
.small_gray{
    color: #777;
    font-size: 80%;
}
/*Slideshow*/
.fullscreen_img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-width: 100%;
    min-height: 100%;
}
.slide{
    border:0;
    background-color: #9a9a9a;
    float:left;
}

/* Home */
.widget{
    text-align: center;
    font-weight: bold;
    font-size: 90%;
}
.tiled{
    padding: 5px;
    margin: 0 auto;
}
.positioned_text{
    position:absolute;
    width:48px;
    padding: 2px;
    line-height: 1;
}
.plan{
    margin: 0 auto;
}
table.tab_short{
    margin: 0 auto;
    width: 100%;
}
.sprite_home {
    background-image: url(/static/img/sprite_home.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite_48 {
    width: 48px;
    height: 48px;
}
.sprite_24 {
    width: 24px;
    height: 24px;
}
.sprite-dark_ambient_light_danger {background-position: -5px -5px;}
.sprite-dark_ambient_light_info {background-position: -63px -5px;}
.sprite-dark_ambient_light_warning {background-position: -121px -5px;}
.sprite-dark_door_closed_danger {background-position: -179px -5px;}
.sprite-dark_door_closed_info {background-position: -237px -5px;}
.sprite-dark_door_closed_warning {background-position: -295px -5px;}
.sprite-dark_door_opened_danger {background-position: -353px -5px;}
.sprite-dark_door_opened_info {background-position: -411px -5px;}
.sprite-dark_door_opened_warning {background-position: -5px -63px;}
.sprite-dark_hddtemp_danger {background-position: -63px -63px;}
.sprite-dark_hddtemp_info {background-position: -121px -63px;}
.sprite-dark_hddtemp_warning {background-position: -179px -63px;}
.sprite-dark_off_info {background-position: -237px -63px;}
.sprite-dark_on_info {background-position: -295px -63px;}
.sprite-dark_pressure_danger {background-position: -353px -63px;}
.sprite-dark_pressure_info {background-position: -411px -63px;}
.sprite-dark_pressure_warning {background-position: -5px -121px;}
.sprite-dark_rain_0_danger {background-position: -63px -121px;}
.sprite-dark_rain_0_info {background-position: -121px -121px;}
.sprite-dark_rain_0_warning {background-position: -179px -121px;}
.sprite-dark_rain_1_danger {background-position: -237px -121px;}
.sprite-dark_rain_1_info {background-position: -295px -121px;}
.sprite-dark_rain_1_warning {background-position: -353px -121px;}
.sprite-dark_rain_2_danger {background-position: -411px -121px;}
.sprite-dark_rain_2_info {background-position: -5px -179px;}
.sprite-dark_rain_2_warning {background-position: -63px -179px;}
.sprite-dark_rain_3_danger {background-position: -121px -179px;}
.sprite-dark_rain_3_info {background-position: -179px -179px;}
.sprite-dark_rain_3_warning {background-position: -237px -179px;}
.sprite-dark_temp_humid_danger {background-position: -295px -179px;}
.sprite-dark_temp_humid_info {background-position: -353px -179px;}
.sprite-dark_temp_humid_warning {background-position: -411px -179px;}
.sprite-dark_window_closed_danger {background-position: -5px -237px;}
.sprite-dark_window_closed_info {background-position: -63px -237px;}
.sprite-dark_window_closed_warning {background-position: -121px -237px;}
.sprite-dark_window_opened_danger {background-position: -179px -237px;}
.sprite-dark_window_opened_info {background-position: -237px -237px;}
.sprite-dark_window_opened_warning {background-position: -295px -237px;}
.sprite-light_ambient_light_danger {background-position: -353px -237px;}
.sprite-light_ambient_light_info {background-position: -411px -237px;}
.sprite-light_ambient_light_warning {background-position: -5px -295px;}
.sprite-light_door_closed_danger {background-position: -63px -295px;}
.sprite-light_door_closed_info {background-position: -121px -295px;}
.sprite-light_door_closed_warning {background-position: -179px -295px;}
.sprite-light_door_opened_danger {background-position: -237px -295px;}
.sprite-light_door_opened_info {background-position: -295px -295px;}
.sprite-light_door_opened_warning {background-position: -353px -295px;}
.sprite-light_hddtemp_danger {background-position: -411px -295px;}
.sprite-light_hddtemp_info {background-position: -5px -353px;}
.sprite-light_hddtemp_warning {background-position: -63px -353px;}
.sprite-light_off_info {background-position: -121px -353px;}
.sprite-light_on_info {background-position: -179px -353px;}
.sprite-light_pressure_danger {background-position: -237px -353px;}
.sprite-light_pressure_info {background-position: -295px -353px;}
.sprite-light_pressure_warning {background-position: -353px -353px;}
.sprite-light_rain_0_danger {background-position: -411px -353px;}
.sprite-light_rain_0_info {background-position: -5px -411px;}
.sprite-light_rain_0_warning {background-position: -63px -411px;}
.sprite-light_rain_1_danger {background-position: -121px -411px;}
.sprite-light_rain_1_info {background-position: -179px -411px;}
.sprite-light_rain_1_warning {background-position: -237px -411px;}
.sprite-light_rain_2_danger {background-position: -295px -411px;}
.sprite-light_rain_2_info {background-position: -353px -411px;}
.sprite-light_rain_2_warning {background-position: -411px -411px;}
.sprite-light_rain_3_danger {background-position: -469px -5px;}
.sprite-light_rain_3_info {background-position: -469px -63px;}
.sprite-light_rain_3_warning {background-position: -469px -121px;}
.sprite-light_temp_humid_danger {background-position: -469px -179px;}
.sprite-light_temp_humid_info {background-position: -469px -237px;}
.sprite-light_temp_humid_warning {background-position: -469px -295px;}
.sprite-light_window_closed_danger {background-position: -469px -353px;}
.sprite-light_window_closed_info {background-position: -469px -411px;}
.sprite-light_window_closed_warning {background-position: -5px -469px;}
.sprite-light_window_opened_danger {background-position: -63px -469px;}
.sprite-light_window_opened_info {background-position: -121px -469px;}
.sprite-light_window_opened_warning {background-position: -179px -469px;}
.sprite-tiled_host_offline {background-position: -527px -5px;}
.sprite-tiled_host_online {background-position: -527px -39px;}

/*Events*/
.sprite_events {
    background-image: url(/static/img/sprite_events.png);
    background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
    width: 20px;
    height: 20px;
}
.sprite-climate {background-position: -5px -5px}
.sprite-slideshow {background-position: -35px -5px}
.sprite-system {background-position: -5px -35px}
.sprite-weather {background-position: -35px -35px}
.event_text{
	margin: 3px;
    padding: 5px; 
    font-size: 90%;
}

/*Weather*/
th{
    font-weight: bold;
}
td.w_night{
    background: #f0f0f8
}
.sprite_weather {
    background-image: url(/static/img/sprite_weather.png);
    background-repeat: no-repeat;
    display: block
}
.sprite_c {
    width: 30px;
    height: 25px
}
.sprite_t {
    width: 18px;
    height: 27px
}
.sprite-cd0 {background-position: -5px -5px;}
.sprite-cd1 {background-position: -45px -5px}
.sprite-cd2 {background-position: -85px -5px}
.sprite-cd3 {background-position: -125px -5px}
.sprite-cd4 {background-position: -5px -40px}
.sprite-cd5 {background-position: -45px -40px}
.sprite-cn0 {background-position: -85px -40px}
.sprite-cn1 {background-position: -125px -40px}
.sprite-cn2 {background-position: -5px -75px}
.sprite-cn3 {background-position: -45px -75px}
.sprite-cn4 {background-position: -85px -75px}
.sprite-cn5 {background-position: -125px -75px}
.sprite-t0d0 {background-position: -165px -5px}
.sprite-t1d0 {background-position: -165px -42px}
.sprite-t1d1 {background-position: -165px -79px}
.sprite-t1d2 {background-position: -5px -116px}
.sprite-t1d3 {background-position: -33px -116px}
.sprite-t1d4 {background-position: -61px -116px}
.sprite-t1d5 {background-position: -89px -116px}
.sprite-t1d6 {background-position: -117px -116px}
.sprite-t2d0 {background-position: -145px -116px}
.sprite-t2d1 {background-position: -5px -153px}
.sprite-t2d2 {background-position: -33px -153px}
.sprite-t2d3 {background-position: -61px -153px}
.sprite-t2d4 {background-position: -89px -153px}
.sprite-t3d0 {background-position: -117px -153px}
.sprite-t3d1 {background-position: -145px -153px}
.sprite-t3d2 {background-position: -193px -5px}
.sprite-t3d3 {background-position: -193px -42px}
.sprite-t3d4 {background-position: -193px -79px}
.sprite-wd {
    width: 24px;
    height: 24px;
    background-position: -173px -116px
}