{% extends 'base/body_tabs.html' %}

{% block content %}
    {% for weather_provider, values_set, city in forecast %}
        <div class='table-responsive'>
        <table class='table table-condensed'>
            <caption>{%  if city %}<em>{{ city }}</em>. {% endif %}Прогноз погоды по данным <em>{{ weather_provider }}</em></caption>
            {% for field, caption, measure, values in values_set %}
                <tr align='center'>
                    <th class='small_gray'>{{ caption }}
                        {% if measure %}
                            , <small><em>{{ measure }}</em></small>
                        {% endif %}
                    </th>
                    {% if field == 'datetime' %}
                        {% for datetime, bg_style in values %}
                            <td class='small_gray {{ bg_style }}'>
                                {{ datetime|date:'l' }}<br>
                                <nobr>{{ datetime|date:'d E' }}</nobr><br>
                                {{ datetime|date:'H:i' }}
                            </td>
                        {% endfor %}
                    {% elif field == 'clouds' %}
                        {% for file_img, clouds, descr, bg_style in values %}
                            <td class='small_gray {{ bg_style }}'>
                                <attr title='{{ descr }}{% if clouds %} (облачность {{ clouds }}%){% endif %}'>
									<i class='sprite_weather sprite_c sprite-{{ file_img }}'></i>
                                </attr>
                            </td>
                        {% endfor %}
                    {% elif field == 'precipitation' %}
                        {% for file_img, precipitation, descr, bg_style in values %}
                            <td class='small_gray {{ bg_style }}'>
                                <attr title='{{ descr }}{% if precipitation %} ({{ precipitation }}мм воды / 6 часов{% endif %}'>
                                    {% if file_img == 'na' %}
                                        <img src='{{ STATIC_URL }}img/na.png' width='30' height='30'/>
                                    {% else %}
										<i class='sprite_weather sprite_t sprite-{{ file_img }}'></i>
                                    {% endif %}
                                </attr>
                            </td>
                        {% endfor %}
                    {% elif field == 'wind_speed' %}
                        {% for wind_speed, wind_dir, bg_style in values %}
                            <td class='small_gray {{ bg_style }}'>
                                {% if wind_speed %}
									<i class='sprite_weather sprite-wd'
									   style='-moz-transform: rotate({{ wind_dir }}deg);
                                              -ms-transform: rotate({{ wind_dir }}deg);
                                              -webkit-transform:rotate({{ wind_dir }}deg);
                                              -o-transform: rotate({{ wind_dir }}deg);
                                              transform: rotate({{ wind_dir }}deg);
											  float: left;'>
								    </i>
                                {% endif %}
								<div style='float: left;'>{{ wind_speed }}</div>
                            </td>
                        {% endfor %}
                    {% else %}
                        {% for value, bg_style in values %}
                            <td class='small_gray {{ bg_style }}'>{{ value }}</td>
                        {% endfor %}
                    {% endif %}
            {% endfor %}
        </table>
        </div>
    {% endfor %}
{% endblock %}
