<a href='/weather' class='btn btn-primary btn-sm btn-block'>
    Погода
</a>
<div class='panel-body widget tiled'>
    {% for plugin, forecast in weather %}
        <h5 class='text-left'><strong>{{ plugin }}</strong></h5>
        <table class='tab_short table-condensed'>

            <tr>
                {% for day, data in forecast %}
                <td colspan='2'>{{ day }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for day, data in forecast %}
                    {% for d in data %}
                        <td>
                        {% if d %}
                            <img src='{{ STATIC_URL }}img/{{ d.clouds_img }}.png' width='30' height='25'/>
                            <br/>
                            <img src='{{ STATIC_URL }}img/{{ d.falls_img }}.png' width='18' height='27'/>
                            <img style='
                                    -moz-transform: rotate({{ d.wind_direction }}deg);
                                    -ms-transform: rotate({{ d.wind_direction }}deg);
                                    -webkit-transform:rotate({{ d.wind_direction }}deg);
                                    -o-transform: rotate({{ d.wind_direction }}deg);
                                    transform: rotate({{ d.wind_direction }}deg);
                                '
                                src='{{ STATIC_URL }}img/wd.png'
                                width='24'
                                height='24'
                            />
                            <br/>
                            <small>
                                {{ d.temperature }}<sub> °C</sub>
                                {{ d.wind_speed }}<sub> м/с</sub>
                            </small>
                        {% else %}
                            <img src='{{ STATIC_URL }}img/na.png' width='24' height='24'/>
                        {% endif %}
                        </td>
                    {% endfor %}
                {% endfor %}
                </tr>
        </table>
    {% endfor %}
</div>