<a href='/weather' class='btn btn-primary btn-sm btn-block'>
    Погода
</a>
<div class='panel-body widget tiled'>
    <table class='tab_short table table-striped table-condensed'>
        {% for forecast in weather %}
            {%  if forecast %}
                <tr>
                    <th colspan=2>{{ forecast.day }}</th>
                </tr>
                <tr>
                    <td>
                        <table class='tab_short'>
                            <tr>
                                <td>
                                    {% for file_img, descr in forecast.clouds_img %}
                                        <attr title='{{ descr }}'>
                                            <img src='{{ STATIC_URL }}img/{{ file_img }}.png' width='30' height='25'/>
                                        </attr>
                                    {% endfor %}
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    {% for file_img, descr in forecast.falls_img %}
                                        <attr title='{{ descr }}'>
                                            <img src='{{ STATIC_URL }}img/{{ file_img }}.png' width='18' height='27'/>
                                        </attr>
                                    {% endfor %}
                                </td>
                                <td><img src='{{ STATIC_URL }}img/wind.png' width='30' height='30' /></td>
                            </tr>
                            <tr>
                                <td>{{ forecast.temperature }}<small><small><em> °C</em></small></small></td>
                                <td>{{ forecast.wind_speed }}<small><small><em> м/с</em></small></small></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>