{% for forecast in weather %}
    {%  if forecast %}
        <div class='panel panel-default widget'>
            <a href='/weather' class='list-group-item widget-padding'>
                Погода {{ forecast.day }}
            </a>
            <div class='panel-body widget-padding'>
                <table class='tab_short' border='0'>
                    <tr>
                        <td>
                            {% for file_img, descr in forecast.clouds_img %}
                                <attr title='{{ descr }}'>
                                    <img src='{{ STATIC_URL }}img/{{ file_img }}.png' width='30' height='25'/>
                                </attr>
                            {% endfor %}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            {% for file_img, descr in forecast.falls_img %}
                                <attr title='{{ descr }}'>
                                    <img src='{{ STATIC_URL }}img/{{ file_img }}.png' width='18' height='27'/>
                                </attr>
                            {% endfor %}
                        </td>
                        <td><img src='{{ STATIC_URL }}img/wind.png' width='30' height='30' /></td>
                    </tr>
                    <tr>
                        <td>{{ forecast.temperature }}<small><small><em> °C</em></small></small></td>
                        <td>{{ forecast.wind_speed }}<small><small><em> м/с</em></small></small></td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}
{% endfor %}
