<dl class='sidebar'>
    <dt>
        Уведомления
    </dt>
    <dd>
        <table class='sidebar'>
            {% if amount_events %}
                <tr>
                <td style='text-align:left; padding:0 5px 5px 0'><small>Кретичность:</small></td>
                    <td>
                        {% if event_imp == 'default' %}          
                            <span class='glyphicon glyphicon-eye-open alert-{{ event_imp }}'></span>
                        {% elif event_imp == 'success' %}
                            <span class='glyphicon glyphicon-ok-sign alert-{{ event_imp }}'></span>
                        {% elif event_imp == 'info' %}
                            <span class='glyphicon glyphicon-info-sign alert-{{ event_imp }}'></span>
                        {% elif event_imp == 'warning' %}
                            <span class='glyphicon glyphicon-warning-sign alert-{{ event_imp }}'></span>
                        {% elif event_imp == 'danger' %}
                            <span class='glyphicon glyphicon-flash alert-{{ event_imp }}'></span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style='text-align:left'><small>Количество:</small></td>
                    <td>{{ amount_events }}</td>
                </tr>
            {% else %}
                <tr><td><small>отсутствуют :)</small></td></tr>
            {% endif %}
        </table>
    </dd>
</dl>