<div class='row'>

    {%  if sensors %}
        {%  for sensor, humid, temp in sensors %}
            <div class='col-xs-3 col-sm-3 col-md-2 col-lg-2 placeholder'>
                {% include 'climate/tab_short.html' %}
            </div>
        {%  endfor %}
    {% endif %}

    {% for forecast in forecasts %}
        {%  if forecast %}
            <div class='col-xs-3 col-sm-3 col-md-2 col-lg-2 placeholder'>
                {% include 'weather/tab_short.html' %}
            </div>
        {% endif %}
    {% endfor %}

</div>

<div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 placeholder'>
        {% include 'home/tab_short.html' %}
    </div>
</div>