{% extends 'base/body_tabs.html' %}
{% load static %}

{% block content %}
    {% if house_plans %}
        <div class='panel panel-default'>
            <div class='panel-body'>
                <dl class='tab_short'>
                    <dt class='tab_short'>
                        Планировка дома
                    </dt>
                    <dd>
                        {% for house_plan_descr, house_plan_img in house_plans %}
                            <div style='float:right; width:{{ width_plans }}%'>
                                <img src='{% get_static_prefix %}img/home/{{ house_plan_img }}' class='img-responsive plan'>
                                <br /><strong><small><em>Рис.</em></small> {{ house_plan_descr }}</strong>
                            </div>
                        {% endfor %}
                    </dd>
                </dl>
            </div>
        </div>
    {% endif %}

    <div id='summary'></div>

    <script>
        $(document).ready(function(){
            reload_div('summary', 10000);
        });
    </script>
{% endblock %}