{% extends 'base/index.html' %}

{% block content %}	
	<br>
	<table>
		<tr>
			<th>Временной шаг (час)</th>
			{% for rp5ru_item in rp5ru %}
				<td>{{ rp5ru_item.time_step }}</td>
			{% endfor %}
		</tr>
		<tr>
			<th>Облачность (%)</th>
			{% for rp5ru_item in rp5ru %}
				<td>{{ rp5ru_item.cloud_cover }}</td>
			{% endfor %}
		</tr>
		<tr>
			<th>Толщина осадков (мм)</th>
			{% for rp5ru_item in rp5ru %}
				<td>{{ rp5ru_item.precipitation }}</td>
			{% endfor %}
		</tr>
		<tr>
			<th>Атмосферное давление (мм рт. ст.)</th>
			{% for rp5ru_item in rp5ru %}
				<td>{{ rp5ru_item.pressure }}</td>
			{% endfor %}
		</tr>
		<tr>
			<th>Температура воздуха</th>
			{% for rp5ru_item in rp5ru %}
				<td>{{ rp5ru_item.temperature }}</td>
			{% endfor %}
		</tr>
		<tr>
			<th>Влажность (%)</th>
			{% for rp5ru_item in rp5ru %}
				<td>{{ rp5ru_item.humidity }}</td>
			{% endfor %}
		</tr>
		<tr>
			<th>Направление ветра</th>
			{% for rp5ru_item in rp5ru %}
				<td>{{ rp5ru_item.wind_direction }}</td>
			{% endfor %}
		</tr>
		<tr>
			<th>Скорость ветра (м/c)</th>
			{% for rp5ru_item in rp5ru %}
				<td>{{ rp5ru_item.wind_velocity }}</td>
			{% endfor %}
		</tr>
		<tr>
			<th>Тип осадков</th>
			{% for rp5ru_item in rp5ru %}
				<td>{{ rp5ru_item.falls }}</td>
			{% endfor %}
		</tr>
		<tr>
			<th>Коэффициент визуализации осадков</th>
			{% for rp5ru_item in rp5ru %}
				<td>{{ rp5ru_item.drops }}</td>
			{% endfor %}
		</tr>
	</table>
{% endblock %}