{% extends 'base/index.html' %}
{% load staticfiles %}

{% block content %}
	{% for weather_provider, values_set in forecast %}
		<br />
		<table class='table table-condensed'>
			<caption style='color: #2288bb; font-weight: bold'>Прогноз погоды по данным <em>{{ weather_provider }}</em></caption>
			{% for field, caption, measure, values in values_set %}
				<tr align='center'>
					<th style='vertical-align:middle'>{{ caption }}
						{% if measure %}
							, <small><em>{{ measure }}</em></small>
						{% endif %}
					</th>
					{% if field == 'datetime' %}
						{% for forecast_weekday, forecast_date, forecast_time in values %}
							<td>
								<small><b>{{ forecast_weekday }}</b><br>{{ forecast_date }} {{ forecast_time }}<small>
							</td>
						{% endfor %}
					{% elif field == 'clouds' %}
						{% for file_img, clouds, descr, bg_color in values %}
							<td class='{{ bg_color }}_c'>
								<attr title='{{ descr }}{% if clouds %} (облачность {{ clouds }}%){% endif %}'>
									<img src='{% static "img/weather/" %}{{ file_img }}' width='30' height='25'/>
								</attr>
							</td>
						{% endfor %}
					{% elif field == 'precipitation' %}
						{% for file_img, precipitation, descr, bg_color in values %}
							<td class='{{ bg_color }}_f'>
								<attr title='{{ descr }}{% if precipitation %} ({{ precipitation }}мм воды / 6 часов{% endif %}'>
									<img src='{% static "img/weather/" %}{{ file_img }}' width='18' height='27'/>
								</attr>
							</td>
						{% endfor %}
					{% elif field == 'wind_speed' %}
						{% for wind_speed, wind_dir in values %}
							<td>{{ wind_speed }} 
								{% if wind_speed %}
									<img style='
											-moz-transform: rotate({{ wind_dir }}deg);
											-ms-transform: rotate({{ wind_dir }}deg);
											-webkit-transform:rotate({{ wind_dir }}deg);
											-o-transform: rotate({{ wind_dir }}deg);
											transform: rotate({{ wind_dir }}deg);
										'
										src='{% static "img/weather/wd.png" %}'
										width='24'
										height='24'
									/>
								{% endif %}	
							</td>
						{% endfor %}
					{% else %}
						{% for value in values %}
							<td>{{ value }}</td>
						{% endfor %}
					{% endif %}
			{% endfor %}
		</table>
	{% endfor %}
{% endblock %}